extend layout

block content
  
  //- .content
  .pure-g
    .pure-u-1(style="padding-left:20px;")
      .header
        h2 Neural&nbsp;Network Yolo

      form.pure-u-1.pure-form#form: fieldset
        .fileUpload
          input#uploadFile.pure-u-1-2(placeholder="Загрузите изображение",disabled="disabled")
          &nbsp; 
          #fake.button.pure-button Загрузить
          input#uploadBtn.upload(name="photo",type="file")
        br
        //- button.pure-button.pure-button-primary(type="submit") ok
    .pure-u-1(style="padding-left:20px;")
      .header
        h2 Результаты
      #images.pure-u-1
      
  script(type="text/javascript", charset="utf-8")

    :coffeescript
      fake = $ "#fake"
      btn = $ "#uploadBtn"
      inp = $ "#uploadFile"
      btn.on "change", (e)-> 
        $("#form").submit()
        inp.val btn.val()
        btn.prop "disabled", true
        fake.text "Подождите"
        fake.prop "disabled", true
        
      submitForm = (e)->
        e.preventDefault();
        data =  new FormData $(@)[0]
        $.ajax 
          url        : "/api/upload"
          type       : "POST"
          data       : data
          async      : true
          cache      : false
          contentType: false
          processData: false
          success    : (data)->
              console.log data
              btn.val("")
              inp.val("")
              fake.prop "disabled", false
              fake.text "Загрузить"
              btn.prop "disabled", false
          error: (err)-> console.log err
        false

      $("#form").submit submitForm

      socket = io()
      # table = $("#table")
      images = $("#images")
      socket.on "image", (url)->
          images.prepend "<img class='pure-img pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-4' src='#{url}'>"
