extend layout

block content
  
  //- .content
  .pure-g
    .pure-u-1(style="padding-left:20px;")
      .header
        h2 Neural&nbsp;Network Yolo

      form.pure-u-1.pure-form#form: fieldset
        .fileUpload
          input#uploadFile.pure-u-1-2(placeholder="Загрузите изображение",disabled="disabled")
          &nbsp; 
          button.pure-button Загрузить
          input#uploadBtn.upload(name="photo",type="file")
        br
        button.pure-button.pure-button-primary(type="submit") ok
    .pure-u-1(style="padding-left:20px;")
      .header
        h2 Результаты

  script(type="text/javascript", charset="utf-8")

    :coffeescript
      btn = $ "#uploadBtn"
      inp = $ "#uploadFile"
      btn.on "change", (e)-> inp.val btn.val()
      
      submitForm = (e)->
        console.log e
        e.preventDefault();
        data =  new FormData $(@)[0]
        $.ajax 
          url        : "/api/upload"
          type       : "POST"
          data       : data
          async      : true
          cache      : false
          contentType: false
          processData: false
          success    : (data)->
              console.log data
              btn.val("")
          error: (err)-> console.log err
        false

      $("#form").submit submitForm

      # socket = io()
      # table = $("#table")
      socket.on "image", (text)-> console.log text
