// Menu toggle
a#menuLink.menu-link(href='#menu')
  // Hamburger icon
  span
#menu
  .pure-menu
    a.pure-menu-heading(href='/') ailove-nn
    ul#menu-list.pure-menu-list
      li.pure-menu-item
        a.pure-menu-link(href='https://docs.google.com/document/d/1RnWqx0CE-KFjwLSwMZP53OqJhmkK3Na8mtzZUsPK67Q/edit#heading=h.uzvm0negpyv3') описание
      li.pure-menu-item
        a.pure-menu-link(href='https://github.com/ailove-lab/nn') github
      li.pure-menu-item
        a.pure-menu-link(href='https://github.com/ailove-lab/nn/wiki') wiki
